body {
	margin: 0;
	padding: 0;
	font-family: 'Calibri', sans;
	background-color: #dddddd;
	min-height: 100%;
	width: 100%;
	height: 100%;
}

contents {
	max-width: 600px;
}

aside {
    display: block;
}

.contact > dt {
    font-weight: bold;
}
.contact > dd {
    margin-left: 0px;
    padding-bottom: 7px;
}


@media only screen and (max-width: 670px) {
    .pfp {
        display: none;
    }
    contents {
        display: block;
        position: static;
        padding-left: 5px;
        padding-right: 5px;
    }

    aside {
        display: flex;

        position: static;
        width: 100%;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
    }
    aside > section {
        margin-top: 5px;
        padding-right: 2px;
    }
    dl {
        margin-top: 0;
    }
    footer {
        padding-left: 5px;
        padding-right: 5px;
    }
    h1 {
        font-size: 1.0em;
        line-height: 30px;
    }
}

@media only screen and (min-width: 671px) {
    .contact {
        margin-top: 15px;
    }
    .pfp {
        display: block;
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        display: flex;
    }
    aside {
        display: block;
        margin-left: 15px;
        flex-basis: 245px;
        flex-shrink: 0;
    }
    contents {
        display: block;
        margin-left: 15px;
        margin-right: 15px;

        min-height: calc(100vh - 97px - 1em - 5px);
    }
    #projects {
        margin-top: 25px;
    }
    footer {
        padding-left: 15px;
        padding-right: 15px;
    }
    h1 {
        font-size: 1.5em;
        line-height: 50px;
    }
}

footer {
    display: block;
    box-sizing: border-box;
}

ul {
    padding-left: 15px;
}

h1 a {
	text-decoration: none;
	color: #aaa;
}

h1 a:hover {
	color: #fff;
}

h1 {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin-top: 0;
    margin-bottom: 10px;
	padding-left: 15px;
	color: #eee;
	background-color: #2d524d;
}

h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.license-icon {
    vertical-align: middle;
}
